/* Global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */

}

.container {
  margin: 20px auto; 
  max-width: 1400px; 
}

#app {
  background-color: #F9FAEF;
}