/* Global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
  margin: 0;
  /* Elimina el margen predeterminado del cuerpo */
  padding: 0;
  /* Elimina el relleno predeterminado del cuerpo */

}

@layer utilities {
  .webL_texto {
    @apply font-sans text-17 tracking-tighter;
  }

  .webL_subtitulo {
    @apply font-sans text-20 tracking-tightest;
  }

  .webL_boton {
    @apply font-sans text-16 tracking-normal;
  }

  .webL_seleccionado {
    @apply font-sans text-17 tracking-tighter;
  }

  .webL_titulo_grande {
    @apply font-urbanist-black text-70 tracking-tighter leading-98;
  }

  .L_subtitulo {
    @apply font-sans text-20 tracking-tightest;
  }

  .L_titulo {
    @apply font-urbanist-black text-28 tracking-tighter;
  }

  .L_texto {
    @apply font-sans text-17 tracking-tighter;
  }

  .L_frames_titulo {
    @apply font-sans-semibold text-20 tracking-tighter;
  }

  .L_frames_txto {
    @apply font-sans text-17 tracking-tighter;
  }
}

.container {
  margin: 20px auto;
  max-width: 1400px;
}

#app {
  background-color: #F9FAEF;
}